/* .header {
  position: fixed;
  width: 900px;
  z-index: 1000;
	display: flex;
	justify-content: space-between;
	background: rgb(24, 24, 24);
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.if{
  border: none;
  width: 100%;
  height: 10%;
  transform: translateY(-100%);
}

.hr, h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
} */

.App-header {
  /*background-color: #282c34;*/
  height: 70%;
  width: 100%;
  font-size: 250%;
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html, body {
  height: 100%;
}

body {
  background-color: #000;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent;
  /* border-radius: 2em;
  border: 0.2em solid #1ecd97; */
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  /* background: #1ecd97;
  color: #333; */
  background-color:white;
  color: black;
  font-family: 'Merriweather Sans', sans-serif;
}

.btn--login {
  /* margin: 0 auto; */
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 1px;
  border:1px solid white;
  font-family: 'Merriweather Sans', sans-serif;
  border-radius: 0;
  font-weight: 700;
}


.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
}

.Header {
  width: 100%
}