.user-details-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background: black;
  margin-right: 40px;
}

.user-image {
  border-radius: 50%;
  height: 30px;
}

.user-name {
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
