/** Now Playing **/

.PlayerBox {
    text-align: center;

}

.main-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: left;
    position: relative;
    width: 80%;
    z-index: 1;
    /* padding-left: 10%; */
    margin-left: 20%;
}

.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.now-playing__artist {
    margin-bottom: 1em;
}

.now-playing__status {
    margin-bottom: 1em;
}

.now-playing__img {
    float: left;
    margin-right: 5px;
    text-align: left;
    width: 60%;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 100%;
}

.now-playing__side {
    margin-left: 2%;
    width: 100%;
}

/** Progress **/

.progress {
    border: 1px solid #eee;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress__bar {
    background-color: #eee;
    height: 4px;
}

/** Background **/

.background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(8em) opacity(0.2);
    position: absolute;
}